/* font */
$primary-text-color: #414243;
$secondary-text-color: #727475;

/* background */
$primary-color: rgb(100, 69, 205);
$secondary-color: rgb(180, 163, 231);
$secondary-color-light: rgb(221, 214, 244);
$background-gray: rgb(147, 146, 146);
$background-light-gray: rgb(188, 186, 186);
$background-gray-hover: rgb(237, 234, 234);

/* spacers */
$spacer: 8px;
$spacer-2: 16px;
$spacer-3: 24px;
$spacer-4: 32px;
$spacer-5: 40px;
$spacer-6: 48px;
$spacer-7: 56px;
$spacer-8: 64px;
$spacer-9: 72px;
$spacer-10: 80px;

// @mixin flex-center {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }